*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Topvisor-2';
    src:
        url('../fonts/Topvisor-2.ttf') format('truetype'),
        url('../fonts/Topvisor-2.woff') format('woff'),
        url('../fonts/Topvisor-2.svg') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Golos Text';
    src: url('../fonts/GolosText-Medium.eot');
    src: local('Golos Text Medium'), local('GolosText-Medium'),
        url('../fonts/GolosText-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GolosText-Medium.woff2') format('woff2'),
        url('../fonts/GolosText-Medium.woff') format('woff'),
        url('../fonts/GolosText-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Golos Text';
    src: url('../fonts/GolosText-Bold.eot');
    src: local('Golos Text Bold'), local('GolosText-Bold'),
        url('../fonts/GolosText-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GolosText-Bold.woff2') format('woff2'),
        url('../fonts/GolosText-Bold.woff') format('woff'),
        url('../fonts/GolosText-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Golos Text';
    src: url('../fonts/GolosText-Regular.eot');
    src: local('Golos Text Regular'), local('GolosText-Regular'),
        url('../fonts/GolosText-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GolosText-Regular.woff2') format('woff2'),
        url('../fonts/GolosText-Regular.woff') format('woff'),
        url('../fonts/GolosText-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    background-color: #f4f4f4;
    font-family: 'Golos Text', Tahoma, sans-serif;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100vh;
    color: #0D0D0D;
}

.card {
    background-color: #fff;
}

.card__tag {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #5E656E;
}

a.card__tag {
    text-decoration: none;
}

.card__tag_accent {
    color: #0D0D0D;
}

.card__tag_bold {
    font-weight: 500;
}

.card__tag_mobile-hide {
    display: none;
}

[data-icon] {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    line-height: 1;
}

[data-icon]::before {
    content: attr(data-icon);
    font-family: 'Topvisor-2', sans-serif;
    font-size: 20px;
}

[data-icon]:not(:empty)::before {
    margin-right: 6px;
}

.card__top {
    padding: 16px;
}

.card__info {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 16px;
}

.card__info>*:last-child {
    margin-left: auto;
}

.card__title {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    margin-bottom: 8px;
}

.card__caption {
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
}

.card__middle img {
    width: 100%;
    max-width: 100%;
}

.card__bottom {
    padding: 20px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.card__bottom>*:not(:last-child) {
    margin-right: 20px;
}

@media (min-width: 900px) {
    .card {
        max-width: 640px;
        -moz-border-radius: 16px;
        border-radius: 16px;
    }

    .card__info>*:first-child {
        margin-right: 16px;
    }

    .card__tag_mobile-hide {
        display: inline;
    }
}